language: java

script: mvn clean install --quiet -B

install: /bin/true

jdk:
  - openjdk8
  - oraclejdk8

branches:
  only:
    - master

notifications:
  email:
    - mathieu.carbou@gmail.com

dist: trusty
